* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@font-face {
    font-family: 'Soda FOT';
    src: url('fonts/SodaFOT-Bold.otf') format('truetype'),
}

@font-face {
    font-family: 'Mugrabi';
    src: url('fonts/mugrabi-regular-aaa.otf') format('truetype'),
}


@font-face {
    font-family: 'Hadassah';
    src: url('fonts/HadassahFriedlaender-Regular.otf') format('truetype'),
}


@font-face {
    font-family: 'Narkiss Block';
    src: url('fonts/NarkissBlock-Regular.otf') format('truetype'),
}

.content-wrapper {
    z-index: 10;
    position: relative;
    height: 78vh;
}

.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.canvas-container canvas {
    width: 100% !important;
    height: 100% !important;
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    z-index: 2;
    height: 11vh;
    padding: 0.5rem;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 43%;
}

.icon {
    display: flex;
}

.title-active {
    text-decoration: underline;
    font-size: large;
}

.tab1 {
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: 'Narkiss Block', sans-serif;
    font-style: normal;
    font-size: medium;
    text-align: left;
}

.tab2 {
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    font-family: 'Narkiss Block', sans-serif;
    font-style: normal;
    font-size: medium;
    text-align: right; 
}

.main-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex: auto;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionIcon {
    width: 20px;
    height: 20px;
}

.overVideo {
    top: 50%;
    left: 50%;
    color: white;
    z-index: 1;
    font-size: 3rem;
    font-family: "Narkiss Block", sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuOverVideo {
    position: absolute;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    border: none;
    justify-content: center;
    align-items: center;
    bottom: 2rem;
    width: 50%;
}

.description {
    color: black;
    background-color: transparent;
    font-size: medium;
    font-family: "Narkiss Block", sans-serif;
}

.buttons {
    display: flex;
    width: 40%;
    justify-content: center;
    height: 45%;
    flex-direction: row;
    background-color: white;
}


.movie-buttons button {
    font-size: medium;
}

.movie-buttons {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: row;
    background-color: white;
}


button {
    width: 100%;
    border: none;
    background-color: transparent;
    color: black;
    font-family: "Narkiss Block", sans-serif;
    cursor: pointer;
}

.bottom-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40%;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 11vh;
    background-color: white;
    align-items: center;
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    cursor: pointer;
    gap: 0.5rem;
}

.volume {
    accent-color: black;
}

.volume::-moz-range-track {
    background: gray;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.volume::-moz-range-progress  {
    background: black;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.volume::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    border: none; /* Remove default border */
}

.slider-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 25%;
}

.slider-container input {
    width: 50%;
}

.plus {
    justify-content: center;
    display: flex;
    font-family: 'Narkiss Block', sans-serif;
}

.arrow-button {
    padding: 0.5rem;
    cursor: pointer;
    height: 7vh;
}


.philharmonic:hover {
    font-family: 'Hadassah', Narkiss Block;
    font-size: x-large;
}

.mark:hover {
    font-family: 'Mugrabi', Narkiss Block;
    font-size: x-large;
}

.videoName {
    font-family: 'Narkiss Block', sans-serif;
    justify-content: center;
    display: flex;
}

.songName {
    font-family: 'Narkiss Block', sans-serif;
    justify-content: center;
    display: flex;
}

.shuzin:hover {
    font-family: 'Soda FOT', Narkiss Block;
    font-size: x-large;
    text-align: right;

}

.philharmonic-active {
    font-family: 'Hadassah', Narkiss Block;
    font-size: x-large;
    text-align: left;

}

.mark-active {
    font-family: 'Mugrabi', Narkiss Block;
    font-size: x-large;
}

.mark {
    font-size: large;
}

.shuzin {
    text-align: right;
    font-size: large;
}

.philharmonic {
    text-align: left;
    font-size: large;
}

.journey4 {
    text-align: right;
}
.journey1 {
    text-align: left;
}

.shuzin-active {
    font-family: 'Soda FOT', Narkiss Block;
    font-size: x-large;
    text-align: right;

}

.buttons button {
    transition: all 0.3s ease;
}

.movie-buttons button {
    transition: all 0.3s ease;
}

.circles-container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.circle-nav {
    width: 1.5vw;
    height: 1.5vh;
}

.circle-nav circle {
    transition: fill 0.3s ease;
}

.circle-nav.active circle {
    fill: white;
}


.popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 23vw;
    height: 60vh;
    z-index: 1000; /* Make sure it's above other content */
}

.popup-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.popup-content {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    padding: 1rem;
    font-family: "Narkiss Block", sans-serif;
    direction: rtl;
}

.close-popup {
    position: absolute;
    cursor: pointer;
    left: 8%;
    top: 20%;
    width: 0.9rem;
    height: 0.9rem;
}


.change-popup2 {
    position: absolute;
    cursor: pointer;
    bottom: 5%;
    left: 8%;
    font-size: small;
    font-family: "Narkiss Block", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4rem;    
    display: none;
}

.change-popup {
    position: absolute;
    cursor: pointer;
    bottom: 5%;
    left: 8%;
    font-size: small;
    font-family: "Narkiss Block", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 4rem;
}

.change-arrow {
    width: 1rem;
    height: 1rem;
}

[id^="title"]:hover {
    text-decoration: underline;
    font-size: large;
    transition: all 0.3s ease;
}  

.change-arrow2 {
    width: 1rem;
    height: 1rem;
    transform: rotate(180deg);
}

.odot {
    width: 85%;
    height: 80%;
    z-index: 1;
    display: none;
}

.odot-body {
    z-index: 10;
    max-width: 100%;
    max-height: 100%;
    
}
